@import "./variables.less";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

nav{
  font-family: @font;
  ul {
    background-color: @yellow;
    padding: 5px;
  }
  li {
    display: inline-block;
    font-weight: 400;
  }
}



button {
  background-color: @yellow;
  font-family: @font;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  color: #050500;
  border: none;
  width: 23%;
  height: 13%;
}

.banner {
  width: 320px;
}
  .logo {
    width: 320px;
}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/

@media screen and (min-width: 1000px) {
.banner {
  position: relative;
  opacity: .33;
  object-fit: cover;
}

  .logo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform : translate(-50%, -50%);
 }

  .ordernow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform : translate(-50%, -50%);
    }
  }
