@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*=========================

Colors

==========================*/

@yellow: #F8DF1F;
@grey: #F3F3F3;
@red: #EE252F;
@black: #080801;
@font-color: #050500;

/*=========================

Fonts

==========================*/

@font: 'Roboto', sans-serif;
